/*******************************************************
My custom color scheme
 *******************************************************/

 * {
    background:                         rgba (34, 34, 34, 80%);
    selected-normal-foreground:         rgba (130, 176, 247, 90%);
 }