#!/usr/bin/env bash

# Terminate already running bar instances
killall -q polybar

# Wait until the processes have been shut down
while pgrep -u $UID -x polybar >/dev/null; do sleep 1; done

# Launch Polybar

polybar arch_button -c ~/.config/polybar/config.ini &
polybar workspaces -c ~/.config/polybar/config.ini &
polybar window_name -c ~/.config/polybar/config.ini &
polybar media -c ~/.config/polybar/config.ini &
{{ if ne .chezmoi.hostname "tempest"}}
polybar tray -c ~/.config/polybar/config.ini &
{{end}}

{{ if eq .chezmoi.hostname "tempest"}}
polybar workspaces_second -c ~/.config/polybar/config.ini &
polybar tray_second -c ~/.config/polybar/config.ini &
polybar clock_second -c ~/.config/polybar/config.ini &
{{ end }}

